.search-bar{

    margin: auto 0;
    margin-left: 168px;
}

.search-bar>select{
    border-radius:  10px 0 0 10px ;
    height: 33px;
    box-shadow: none;
}

.search-bar>input{

    padding-left: 10px;
    border-radius: 0 10px 10px 0;
    height: 27px;
    min-width: 470px;
    
}   